.about__container {
    display: flex;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about__me-image {
    transition: transform 600ms;
    overflow: hidden;
    border-radius: 2rem;
}

.about__me-image:hover {
    transform: rotate(-20deg) scale(1.15);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about__card {
    text-align: center;
    border: 1px solid transparent;
    background: var(--color-secondary);
    border-radius: 1rem;
    padding: 1rem;
    transition: all 500ms ease;
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-secondary);
}

.about__icon {
    color: var(--color-text);
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.about__card h5 {
    font-size: 1rem;
}

.about__card small {
    font-size: .75rem;
}

.about__content p {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .about__container {
        gap: 5%;
    }
    .about__me-image {
        margin: 0rem;
    }
    .about__me-image:hover {
        transform: rotate(-20deg) scale(1.08);
    }
}

@media screen and (max-width: 600px) {
    .about__container {
        display: list-item;
        list-style: none;
    }
    .about__me-image {
        margin: 0rem;
        transition: none;
    }
    .about__me-image:hover {
        transform: none;
    }
    .about__card {
        margin-top: 2rem;
    }
    
}